*.deb
*.tar.bz2
*.tar.gz
*/data/
*/debian-binary
sftp-config.json

qdb-all/control/control
qdb-all/control/md5sums

/qdb-api/md5sums
/qdb-api/control
/qdb-api/postinst

/qdb-api-rest/control/md5sums
/qdb-api-rest/control/control

/qdb-server/md5sums
/qdb-server/control

/qdb-utils/md5sums
/qdb-utils/control

qdb-web-bridge/control/control
qdb-web-bridge/control/md5sums

test_container.conf
