[Unit]
Description=quasardb web bridge
After=network.target
ConditionPathExists=/etc/qdb/qdb_httpd.conf

[Service]
Type=forking
User=qdb_http
Group=qdb_http
ExecStart=/usr/sbin/qdb_httpd -c /etc/qdb/qdb_httpd.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
