[Unit]
Description=quasardb web bridge
After=network.target
ConditionPathExists=/etc/qdb/qdb-api-rest.cfg

[Service]
Type=forking
User=qdb
Group=qdb
ExecStart=/usr/bin/qdb-api-rest-server --config-file /etc/qdb/qdb-api-rest.cfg
Restart=on-failure

[Install]
WantedBy=multi-user.target
